<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimaniMvpShaiTry"
        tools:targetApi="31">
        <activity
            android:name=".learnTheWordtwo"
            android:exported="false" />
        <activity
            android:name=".arabic_homepage"
            android:exported="false" />
        <activity
            android:name=".learnTheWord5"
            android:exported="false" />
        <activity
            android:name=".learnTheWord4"
            android:exported="false" />
        <activity
            android:name=".learnTheWord3"
            android:exported="false" />
        <activity
            android:name=".learnTheWord2"
            android:exported="false" />
        <activity
            android:name=".learnTheWord1"
            android:exported="false" />
        <activity
            android:name=".learnTheWord"
            android:exported="false" />
        <activity
            android:name=".hebrew_homepage"
            android:exported="false" />
        <activity
            android:name=".FinishedLevel"
            android:exported="false" />
        <activity
            android:name=".ConnectTheWordsCourse"
            android:exported="false" />
        <activity
            android:name=".ChooseTheRightWord"
            android:exported="false" />
        <activity
            android:name=".WriteTheSentenceInHebrew"
            android:exported="false" />
        <activity
            android:name=".HebrewLevels"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>